.m-item__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.active{
    .m-item__wrapper__info{
        color: #fff;
    }
}
.m-item__wrapper__info {
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.ant-list-item{
    position: relative;
    overflow: hidden;
}